<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>项目周期管理系统</title>
<!-- import CSS -->
<link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
</head>
<body>
	<form class="layui-form" action="" style="margin-top: 100px;">
		<div class="layui-form-item">
			<label class="layui-form-label">密码重置</label>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-inline">
				<input type="password" name="password" required lay-verify="required" placeholder="请输入新密码" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" style="margin-left: 230px;" >
			<div class="layui-input-inline">
				<button id="reset" class="layui-btn" >提交</button>
			</div>
		</div>
		
	</form>

</body>
<!-- import JavaScript -->
<script th:src="@{../assets/layui/layui.all.js}"></script>
<script>
	 layui.use('form',function(){
		 var form = layui.form;
	 });
	 
</script>
</html>