<!DOCTYPE html>
<html lang="en">
<head>
    <!--专家列表-->
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
    <!-- import JavaScript -->
    <script th:src="@{../assets/layui/layui.all.js}"></script>
    <title>项目周期管理系统</title>
</head>
<body>
<table class="layui-table">
    <thead>
    <tr>
        <th>内容</th>
        <th>评分</th>
        <th>专家编号</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expert:${comment}">
        <td class="ex-code" th:text = "${expert.coment}">code</td>
        <td th:text = "${expert.mark}">department</td>
        <td th:text="${expert.expertcode}"></td>
    </tr>
    </tbody>
</table>
<div id="page" th:attr="data-total=${comment.totalElements},data-curr=${comment.number+1}"></div>
<div id="projectcode" th:text="${projectcode}" style="display: none"></div>
<button class="layui-btn layui-btn-radius layui-btn-normal pass">立项</button>
<button class="layui-btn layui-btn-radius layui-btn-normal nopass">不立项</button>
<script>
    layui.use(['element','laypage'],function () {
        var $ = layui.$,
                table = layui.table,
                laypage = layui.laypage;

        laypage.render({
            elem: 'page',
            curr: $('#page').attr('data-curr'),
            count: $('#page').attr('data-total'),
            limit: 5,
            jump: function(obj, first){
                if(!first) {
                    window.location.href = "/project_comment_list=" + obj.curr + "&limit=5"
                }
            }
        })

        $('.pass').click(function(){
            var code = $('#projectcode').text();
            var project = {
                "code": code,
                "state": "1"
            };
            $.ajax({
                type: 'post',
                url: 'setProject',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(project),
                success: function(){
                    alert("success");
                }
            })
        });

        $('.nopass').click(function(){
            var code = $('#projectcode').text();
            var project = {
                "code": code,
                "state": "-1"
            };
            $.ajax({
                type: 'post',
                url: 'setProject',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(project),
                success: alert("success")
            })
        });
    });
</script>
</body>
</html>