<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
    <title>项目周期管理系统</title>
</head>
<body>
    <table class="layui-table" style="margin-top:0;">
        <thead>
        <tr>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>相关操作</th>
        </tr>
        </thead>
    </table>
    <tbody>
        <tr th:each="project:${projectlist}">
            <td th:text="${project.code}">code</td>
            <td th:text="${project.name}">name</td>
            <td>操作</td>
        </tr>
    </tbody>

</body>
</html>