<!DOCTYPE html>
<html lang="en">
<head>
    <!--已申报项目列表-->
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
    <title>项目周期管理系统</title>
</head>
<body>
    <table class="layui-table" style="margin-top:0;">
        <thead>
        <tr>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>相关操作</th>
        </tr>
        </thead>
    </table>
    <tbody>
        <tr th:each="project:${projectlist}">
            <td name="code" th:text="${project.code}">code</td>
            <td th:text="${project.name}">name</td>
            <td>
                <button id="pass" class="layui-btn layui-btn-radius layui-btn-normal" onclick="pass()">初审通过</button>
                <button id="nopass" class="layui-btn layui-btn-radius layui-btn-normal" onclick="nopass()">初审未通过</button>
            </td>
        </tr>
    </tbody>
    <script >
        layui.use('jquery',function () {

        })

        function pass() {
            var $  = layui.$;
            var project = {
                "code":$("#code").val(),
                "state":1
            };
            alert(project);
            $.ajax({
                type:'post',
                url:'firexamine',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify(project),
                success:alert("success")
            })
        }
        function nopass() {
            var $  = layui.$;
            var project = {
                "code":$("#code").val(),
                "state":-1
            };
            alert(project);
            $.ajax({
                type:'post',
                url:'firexamine',
                contentType:'application/json;charset=UTF-8',
                data:JSON.stringify(project),
                success:alert("success")
            })
        }
    </script>
</body>
</html>