<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
  <title>项目周期管理系统</title>
</head>

<body>
<table id="projects" class="layui-table" style="margin-top:0;">
  <thead>
  <th style="display: none">项目编号</th>
  <th>项目名</th>
  <th>状态</th>
  <th>操作</th>
  </thead>
  <tbody>
  <tr th:each="project : ${projects}">
    <td class="projectCode" style="display: none" th:text="${project.code}"></td>
    <td th:text="${project.name}"></td>
    <td th:switch="${project.state}">
      <span th:case="-2">立项未通过</span>
      <span th:case="-1">初审未通过</span>
      <span th:case="0">已申报项目</span>
      <span th:case="1">通过初审</span>
      <span th:case="2">专家审核中</span>
      <span th:case="3">审核完成</span>
      <span th:case="4">立项成功</span>
      <span th:case="5">中期材料待提交</span>
      <span th:case="6">中期材料已提交</span>
      <span th:case="7">中期检查通过</span>
      <span th:case="8">中期检查待整改</span>
      <span th:case="9">后期材料待提交</span>
      <span th:case="10">后期材料已提交</span>
      <span th:case="11">后期材料待整改</span>
      <span th:case="12">已结题</span>
    </td>
    <td>
      <button th:attr="data-projectCode=${project.code}" type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-sm uploadFile">下载文件</button>
    </td>
  </tr>
  </tbody>
</table>
<div id="page" th:attr="data-total=${projects.totalElements},data-curr=${projects.number+1}"></div>
</body>

<!-- import JavaScript -->
<script th:src="@{../assets/layui/layui.all.js}"></script>
<script>
    layui.use(['layer', 'jquery', 'laydate','laypage','upload'], function () {
        var layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate,
            laypage = layui.laypage,
            upload = layui.upload;

        laydate.render({
            elem: '#datepicker'
        });

        var shili = upload.render({
            elem: '.uploadFile' //绑定元素
            ,url: '/upload_material' //上传接口
            ,accept:'file'
            ,before: function(obj) {
                this.data = {
                    projectCode: this.elem.attr('data-projectCode')
                }
                layer.load(); //上传loading
            }
            ,done: function(res, index, upload){
                layer.closeAll('loading'); //关闭loading
                layer.open({
                    content: '上传成功！'
                });
            }
            ,error: function(index, upload){
                layer.closeAll('loading'); //关闭loading
            }
        });

        laypage.render({
            elem: 'page',
            curr: $('#page').attr('data-curr'),
            count: $('#page').attr('data-total'),
            limit: 5,
            jump: function(obj, first){
                if(!first) {
                    window.location.href = "/project/list?page=" + obj.curr + "&size=5"
                }
            }
        })
    });
</script>

</html>