<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" th:href="@{../assets/layui/css/layui.css}">
    <title>项目周期管理系统</title>
</head>
<body>
    <table class="layui-tab" style="...">
        <tr th:each="projectrule : ${rule}">
            <td>项目规则</td>
            <td th:text = "${rule.rule}">test</td>
            <button id="declare" class="layui-btn layui-btn-radius layui-btn-normal" onclick="f()">报名入口</button>
        </tr>
    </table>
<script>
    function f() {
        window.location.href="/project_declare";
    }
</script>

</body>
</html>