<!doctype html>
<html>
<div th:fragment="navbar" class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->  
    <ul class="layui-nav layui-nav-tree" lay-filter="navbar" >
      <li class="layui-nav-item">
        <a href="/index">首页</a>
      </li>
      <li class="layui-nav-item"  th:each="modules:${datas}"  >
        <a href="javascript:;" th:text="${modules.key}" >管理员</a>
        <dl class="layui-nav-child">
          <dd  th:each="module:${modules.value}">
            <a th:if="${module.level} ne 0"  th:attr="data-id=${module.code},data-title=${module.modulename},data-url=${module.url}" th:text="${module.modulename}"  href="javascript:;">项目列表</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

</html>