<!doctype html>
<html>
<div th:fragment="navbar" class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="navbar">
      <li class="layui-nav-item">
        <a href="/index">首页</a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">管理员</a>
        <dl class="layui-nav-child">
          <dd>
            <a data-id="1" data-title="项目列表" data-url="/project/list" href="javascript:;">项目列表</a>
          </dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">负责人</a>
        <dl class="layui-nav-child">
          <dd>
            <a data-id="2" data-title="我的项目" data-url="/my_projects" href="javascript:;">我的项目</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

</html>