<!doctype html>
<html>
<div th:fragment="navbar" class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="navbar">
			<li class="layui-nav-item">
				<a href="/index">首页</a>
			</li>
			<li class="layui-nav-item">
				<a class="" href="javascript:;">项目列表</a>
				<dl class="layui-nav-child">
					<dd>
						<a data-id="1" data-title="已立项项目" data-url="/project_list" href="javascript:;">已立项项目</a>
					</dd>
				</dl>
				<a class="" href="javascript:;">项目申报</a>
				<dl class="layui-nav-child">
					<dd>
						<a data-id="2" data-title="立项规则" data-url="/project_rule" href="javascript:;">立项规则</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a class="" href="javascript:;">用户管理</a>
					<dl class="layui-nav-child">
						<dd>
							<a data-id="1" data-title="用户列表" data-url="" href="javascript:;">用户列表</a>
						</dd>
						<dd>
							
					</dl>
			</li>
		</ul>
		
		
		
	</div>
</div>

</html>